#product_form{
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    label{
        margin-bottom: 1em;
    }
    input, select{
        margin-left: 2em;
    }
    select{
        width: 7em;
        text-align: center;
    }
}