.parent {
    position: relative;
    text-align: center;
}
  
footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

footer::before {
  content: "";
  display: block;
  top: -10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  margin-top: 2em;
}
